<section class="l-app">
  <nav class="l-nav">
    <ul class="nav">
      <li><a href="#/input" class="nav-item">Inputs</a></li>
    </ul>
  </nav>

  <div class="l-content">
    {{>inputs}}
  </div>
</section>