<section class="l-app">
  <a class="l-nav-control" href="javascript:;">
    <i class="icon icon-32 icon-burger"></i>
  </a>

  <nav class="l-nav">
    <ul class="nav"></ul>
  </nav>

  <div class="l-content">
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
    {{>inputs}}
  </div>
</section>