<section class="group" data-describes="inputs">
  <h3 class="group-header">Inputs</h3>

  <div class="item" data-test="text">
    <div class="item-title">Input [text]</div>
    <div class="item-test"><input type="text" placeholder="Text" /></div>
  </div>

  <div class="item" data-test="password">
    <div class="item-title">Input [password]</div>
    <div class="item-test"><input type="password" placeholder="Password" /></div>
  </div>

  <div class="item" data-test="email">
    <div class="item-title">Input [email]</div>
    <div class="item-test"><input type="email" placeholder="Email" /></div>
  </div>
</section>