<section class="group" data-category="input">
  <h3 class="group-header">Inputs</h3>

  <div class="item" data-coverage="input:text">
    <div class="item-title">Input [text]</div>
    <div class="item-coverage"><input type="text" placeholder="Text" /></div>
  </div>

  <div class="item" data-coverage="input:password">
    <div class="item-title">Input [password]</div>
    <div class="item-coverage"><input type="password" placeholder="Password" /></div>
  </div>

  <div class="item" data-coverage="input:email">
    <div class="item-title">Input [email]</div>
    <div class="item-coverage"><input type="email" placeholder="Email" /></div>
  </div>
</section>